*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html, body, p, ul
{
    padding: 0px; margin: 0px;
}

/* FLUID GRID SYSTEM */

.container
{
    width: 90%;
    margin: 0px auto;
    position: relative;
}

.one-half {width: 50%;}
.one-third {width: 30%; margin: 0px 2.5%;}
.two-thirds {width: 60%; margin: 0px 2.5%;}

/* ADDITIONAL CLASSES */
.clearfix {overflow:auto;zoom:1;}
.place-left {float:left !important;}
.place-right {float:right !important;}
.clear {clear:both !important;}

/* TYPOGRAPH */
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.text-center {text-align: center !important;}
.text-bold {font-weight: bold !important;}


/* MEDIA SCREEN */

@media screen and (min-width:900px)
{
    .place-left, .place-right {float:none !important;}
    .container {width: 100% !important;}
    .one-half, .one-third {width: 100% !important;margin: 0px;}
}