.application
{
    background-color: #E5E5E5;
    color: #333;
    padding: 20px;
    margin:0px auto;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    overflow:auto;
    zoom:1;
}
.application .header h1 {margin:0px;}
.application .header 
{
    margin-bottom: 10px;
}

.todo 
{
    width: 50%;
    background-color: #F5F5F5;
    padding: 10px;
    margin:0px auto;
    
    border: solid 1px #EEE;
    
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.todo .controls {
    font-size: 14px; font-weight:bold;
    overflow:auto; zoom:1;
    padding: 4px;
    background-color: #E5E5E5;
    
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.todo .controls a {
    color: #888;
    text-decoration: none;
    display:block;
    float:left;
    padding: 2px 8px;
}
.todo .controls a:hover {
    color: #333;
}
.todo .task-form {display:none;}
.todo .task-form form {
    width:100%;
    overflow: auto;
    zoom:1;
}

.todo .task-form input[type="text"],
.todo .task-form textarea
{
    float:left;
    clear:both;
    width: 80%;
    border:solid 1px #EEE;
    padding: 2px 8px;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.todo button
{
    padding: 6px 40px;
}

.todo .list {}
.todo .list ul 
{
    list-style:none;
}
.todo .list ul li 
{
    padding: 2px;
}

.todo .list .task {
    margin: 8px;
    background-color: #EEE;
    padding: 10px;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
    -moz-box-shadow: 0px 0px 4px #AAA;
    -webkit-box-shadow: 0px 0px 4px #AAA;
    box-shadow: 0px 0px 4px #AAA;
}
.todo .list .task .head h1 {margin:0px;float:left;font-size:15px;}
.todo .list .task .head .controls {float:right;}
.todo .list .task .head {overflow:auto;zoom:1;}
.todo .list .task .desc {margin: 5px 0px;}
.todo .list .task p {
    padding: 4px 10px;
    background-color: #E5E5E5;
    color: #333;
    font-size: 12px;
    border: 1px solid #EEE;
    border-radius: 4px;
    font-family: sans-serif;
}